@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Azeret Mono", monospace;
}

/* nav section styles */
nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style-type: none;
}

nav {
    max-width: 1440px;
    height: 128px;
    margin: 0 auto;
    /* border: 1px solid #000; */
    margin-top: 50px;
}

.name {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    margin-left: 150px;
    margin-top: 50px;
}

nav>ul>li>button {
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    width: 228px;
    height: 58px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    margin-right: 150px;
    margin-top: 35px;
}

/* shared styles through whole page */
.paragraph {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    opacity: 0.7;
}

.heading {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    margin-bottom: 24px;
}

/* Hero section styles */
.hero-background {
    max-width: 1440px;
    height: 652px;
    /* border: 1px solid #000; */
    margin: 0 auto;
    background-image: url("./assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}

.hero-image-text-container {
    width: 998px;
    height: 652px;
    margin: 0 auto;
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.hero-image-text-container h1 {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
}

.hero-image-text-container button {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    width: 208px;
    height: 66px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
}

/* "why web development" styles starts */
.why-web-dev-background {
    max-width: 1140px;
    height: 1395px;
    /* border: 1px solid #000; */
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin-bottom: 88px;
    margin-top: -74px;

}

.why-web-dev-container {
    width: 946px;
    height: 1235px;
    /* border: 1px solid #000; */
    margin: 200px 97px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.why-web-dev-text {
    width: 852px;
    height: 115px;
    margin: 0 auto;
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.reason-1-container {
    width: 946px;
    height: 336px;
    /* border: 1px solid red; */
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.reason-2-container {
    width: 946px;
    height: 336px;
    /* border: 1px solid blue; */
    margin: 0 auto;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.reason-3-container {
    width: 946px;
    height: 336px;
    /* border: 1px solid violet; */
    margin: 0 auto;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

/* shared styles in why web dev section */

.why-web-dev-heading {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
}

.why-web-dev-para {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    opacity: 0.7;
}

.why-web-dev-button {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    width: 150px;
    height: 48px;
}

.why-web-dev-text-container {
    width: 477px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

/* shared styles ends here */

.reason-1 {
    width: 850px;
    height: 240px;
    /* border: 1px solid #000; */
    margin: 0 auto;
    margin: 48px;
    display: flex;
    justify-content: space-between;
}

.reason-2 {
    width: 850px;
    height: 240px;
    /* border: 1px solid #000; */
    margin: 0 auto;
    margin: 48px;
    display: flex;
    justify-content: space-between;
}

.reason-3 {
    width: 850px;
    height: 240px;
    /* border: 1px solid #000; */
    margin: 0 auto;
    margin: 48px;
    display: flex;
    justify-content: space-between;
    gap: 20px
}

/* my-inspiration section starts */
.my-inspiration-container {
    max-width: 1140px;
    height: 777px;
    /* border: 1px solid #000; */
    margin: 0 auto;
    margin-bottom: 181px;
}

.my-inspiration-text {
    width: 852px;
    height: 115px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.my-inspiration-video {
    width: 1140px;
    height: 614px;
    text-align: center;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}

.my-inspiration-video iframe {
    margin-top: 25px;
    border-radius: 16px;
}

/* "my current target" styles */
.current-target-cards {
    max-width: 1140px;
    height: 300px;
    /* border: 1px solid #000; */
    margin: 0 auto;
    margin-bottom: 111px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.current-target-text {
    width: 852px;
    height: 115px;
    /* border: 1px solid #000; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}

.html-card,
.css-card,
.javascript-card {
    width: 364px;
    height: 300px;
    border-radius: 16px;
}

.html-card {
    background: rgba(255, 76, 30, 0.05);
}

.css-card {
    background: rgba(0, 76, 232, 0.05);
}

.javascript-card {
    background: rgba(255, 223, 0, 0.05);
}

.html-text,
.css-text,
.javascript-text {
    width: 284px;
    height: 220px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.javascript-text img{
    margin-top: -10px;
    margin-bottom: 15px;
}
.current-target-cards img {
    width: 56px;
    /* height: 56px; */
}

.card-paragraph {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    opacity: 0.7;
    margin-bottom: 24px;
}

.card-heading {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    text-align: left;
    margin-bottom: 8px;
}

.card-link {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    text-decoration-line: underline;
}

/* "next target" styles */
.next-target-container{
    max-width: 1140px;
    height:868px;
    /* border: 1px solid #000; */
    margin: 0 auto;
    margin-bottom: 44px;
}

.next-target-heading{
    margin-bottom: 48px;
}

.react, .node, .mongodb{
    width: 1140px;
height: 219px;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
margin-bottom: 24px;
display: flex;
flex-direction: row;
gap: 24px;
padding: 40px;
}

.react-text{
   
}



/* form style starts */
.form-container {
    width: 1140px;
    height: 314px;
    margin: 0 auto;
    /* border: 1px solid #000; */
    border-radius: 16px;
    background-image: url("./assets/handshake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    margin-bottom: 80px;
}

.form-text-container {
    width: 1044px;
    height: 186px;
    /* border: 1px solid white; */
    margin: 0 auto;
    padding: 50px;
}

.form-text-container h1 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    margin-bottom: 16px;
}

.form-text-container p {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 40px;
}

.form-text-container form {
    text-align: center;
}

.form-text-container input[type="email"] {
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 548px;
    height: 57px;
}

.form-text-container input::placeholder {
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    padding: 15px;
}

.form-text-container input[type="submit"] {
    width: 120px;
    height: 58px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.705);
    background: rgb(255, 255, 255);
}

.footer-container {
    max-width: 1440px;
    height: 100px;
    /* border: 1px solid #000; */
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
}

.social-media-icons a {
    margin-left: 10px;
}

.footer-container p {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}